{% extends 'base.html' %}
{% block title %}Beavers{% endblock %}
{% block nav-beavers %}active{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12 thumbnail homemain">
            <div class="page-header">
                <h1>8th Basildon Beavers</h1>
            </div>
            <div class="alert alert-error">Unfortunately due to shortage of leaders, we are unable to facilitate Beavers at this time.</div>
            <p>The beaver section is the first section in scouting open to boys and girls age 6-8 years.</p>
            <p>The main aim of the beaver scouts is to have fun, learn crafts, play games and learn new skills to earn badges. While they are doing this, it is a great opportunity for them to make new friends and to gain some independence, for some even staying away for the first time at camp.</p>
            <p>All beaver scouts are encouraged to join in with new activities and to try their best in a fun and safe environment.</p>
            <p>Please <a href="/contact.html">contact us</a> for further information.</p>
        </div>
    </div>
{% endblock %}