{% extends 'base.html' %}
{% block title %}Cubs{% endblock %}
{% block nav-beavers %}active{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12 thumbnail homemain">
            <div class="page-header">
                <h1>8th Basildon Beavers.</h1>
            </div>
            <div class="alert alert-error">Unfortunately due to shortage of leaders, we are unable to facilitate Beavers at this time.</div>
            <p>The beaver section is the first section in scouting open to boys and girls age 6-8 years.</p>
            <p>Please <a href="/contact.html">contact us</a> for further information.</p>

        </div>
    </div>
{% endblock %}