{% extends 'base.html' %}
{% block title %}Cubs{% endblock %}
{% block nav-cubs %}active{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>8th Basildon Cubs.</h1>
            </div>
            <p>The cub section is the second section in Scouting, is open to boy and girls age 8 – 10 ½  years.</p>
            <p>Meetings are held every Wednesday during term time, 6.30pm  – 8.00 pm.</p>

            <h2>Activities</h2>
            <p>Activities range from traditional cub scout activities and badge work, including knotting, tracking camping, backwards cooking and craft work as well as plenty of games.</p>
            <p>Camping opportunities are twice a year:</p>
            <dl><dt>Summer Camp</dt><dd>
            Summer camp is held some time in august which includes activities such as abseiling, Rafting, rifle shooting,  backwards cooking as well as traditional camping activities and games.
            </dd>
                <dt>Christmas camp</dt>
            <dd>is usually held for one weekend at the beginning of December<br />
            Activities include Christmas craft, a full Christmas dinner, and lots of traditional fun and games.</dd>
            </dl>

        </div>
    </div>
{% endblock %}