{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block nav-home %}active{% endblock %}
{% block content %}
    <div class="row introboxes">
        <div class="span12">
                <div class="span4">
                    <div class="thumbnail">
                        <h2>Beavers</h2>
                        <img src="/static/img/beavers-thumb.jpg" alt="Beavers">
                        <div class="caption">
                            <a href="/beavers.html" class="btn btn-success pull-right">Beavers</a><h2>6-8yrs</h2>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="thumbnail">
                        <h2>Cubs</h2>
                        <img src="/static/img/cubs-thumb.jpg" alt="Cubs">
                        <div class="caption">
                            <a href="/cubs.html" class="btn btn-success pull-right">Cubs</a><h2>8-10yrs</h2>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="thumbnail">
                        <h2>Scouts</h2>
                        <img src="/static/img/scouts-thumb.jpg" alt="Scouts">
                        <div class="caption">
                            <a href="/scouts.html" class="btn btn-success pull-right">Scouts</a><h2>10-14yrs</h2>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row homerow">
        <div class="span8 thumbnail homemain">
            <div class="page-header">
                <h1>Welcome to the 8th Basildon Scout Group.</h1>
            </div>
            <p>The 8th Basildon Scout group has been going for many years and is currently one of the larger groups in
            Basildon offering children the chance to progress through Cubs to Scouts.</p>

            <p>Cubs and Scouts is all about playing games, taking part in indoor and outdoor activities that challenge
            children, learning new skills and developing responsibilities in a safe and fun way. All of the activities are
            designed to suit the different age groups covered.</p>

            <p>The three sections and are supervised by experienced leaders who have been trained and checked to work
            with children by the scouting origination.</p>

            <p>Cubs and Scouts is open to any girl or boy, regardless of faith, race, culture, nationality or disability provided
            they are able to understand and willing to make their promise.  Cubs 8 and 10½ years and Scouts 10½ and
            14 years.</p>

            <p>As a member of the 8th Basildon Scout group, your child is also a member of Scouting UK and the worldwide
            Scouting movement as shown by the badge they are given to wear when they are invested.</p>
        </div>
        <div class="span4 homeside thumbnail">
            <div class="sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">News &amp; Events</li>
                    <li><a href="/blah"><i class="icon-headphones"></i> Blah</a></li>
                    <li><a href="/foo"><i class="icon-picture"></i> Foo</a></li>
                    <li><a href="/meh"><i class="icon-facetime-video"></i> Meh</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}