{% extends 'base.html' %}
{% block title %}Scouts{% endblock %}
{% block nav-scouts %}active{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12 thumbnail homemain">
            <div class="page-header">
                <h1>8th Basildon Scouts</h1>
            </div>
            <p>The Scout section is third section in scouting open to boys and girls age 10 ½  - 14 years.</p>
            <p>Meetings are held every Wednesday  during term time 7.00pm – 9.00 pm</p>
            <h2>Activities</h2>
            <p>Activities range from traditional scouting craft; including pioneering, cooking and fire lighting, to community work and creative thinking. As well as plenty of fun and games.</p>
            <p>Camping opportunities twice a year.</p>
            <ul>
                <li>In summer</li>
                <li>At christmas</li>
            </ul>
        </div>
    </div>
{% endblock %}