{% extends "base.html" %}
{% load bootstrap %}
{% block nav-contact %}active{% endblock %}
{% block title %}Contact{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12 thumbnail homemain">
            <div class="page-header">
                <h1>Contact 8th Basildon Scout Group</h1>
            </div>
            <div class="row">
                <div class="span8">
                    <h2>Thanks</h2>
                    <p>Your enquiry has been sent.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}